.text-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
  }
  
  .text-field:focus {
    border-color: #66afe9;
    outline: none;
  }
  